{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('custom_theme/movie') }}

<div class="movie">
  <div class="movie-grid row justify-content-between p-5" style="background-color: #dad6cd;">
    {% for row in rows %}
      <div class=" card col-lg-4 col-sm-6 col-12 mt-5">
        <img src="{{ file_url(row.content['#node'].field_movie_image.entity.uri.value) }}" alt="" height="320px" width="480px">
        <h2 class="card__heading">{{ row.content['#node'].title.value }}</h1>
        <div class="card__date">
          <p>{{ row.content['#node'].field_release_date.value|date("d") }}</p>
          <p>{{ row.content['#node'].field_release_date.value|date("F") }}</p>
        </div>
        <p class="card__para">{{ row.content['#node'].body.value }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="popup">
    <div class="popup__content d-flex flex-wrap">
      <div class="popup__image">
        <img src="" alt="" height="320px" width="480px">
      </div>
      <div class="popup__body d-flex flex-column gap-3">
        <h1></h1>
        <p></p>
        <button>Watch Trailer</button>
      </div>
      <div class="popup__close"><i class="fa-regular fa-circle-xmark"></i></div>
    </div>
  </div>
</div>
